/* @import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Montserrat:wght@300;400&family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Montserrat:wght@300;400;700&family=Poppins:wght@400;500&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Montserrat:wght@300;400;500;700&family=Poppins:wght@400;500&family=Tajawal&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .btn-blue {
    @apply text-xl lg:text-4xl text-[#167EE0] lg:text-white font-semibold pt-3 lg:leading-tight;
  }
}
body {
  background-color: #f0f5ff;
  /* background-color: #fdfdfd; */
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  background-image: linear-gradient(to bottom right, #fbfcff, #eaf1ff);
}
html {
  scroll-behavior: smooth;
}
h2 {
  font-family: "Changa", sans-serif;
}
p {
  font-family: "Montserrat", sans-serif;
}
textarea {
  resize: none;
}
@layer components {
  .note {
    @apply text-base md:text-xl tracking-wide text-gray-600;
  }
}
@layer components {
  .btnAnimateBefore {
    @apply before:absolute  before:w-[100%] before:h-[100%] before:bg-transparent  before:border-[1px] before:rounded-full  before:border-[#F7B7B3] before:[z-index:-1] before:ease-in-out before:duration-300  before:transition-transform  before:box-content before:-left-[4.5%] before:-top-[17%] before:p-[10px] before:scale-0 hover:before:scale-[1];
  }
}
@layer components {
  .btnAnimateAfter {
    @apply after:absolute  after:w-[100%] after:h-[100%] after:bg-transparent  after:border-[1px] after:rounded-full  after:border-[#F3DCE0] after:[z-index:-1]  after:transition-transform after:duration-[300ms]  after:ease-in-out after:box-content after:-left-[8.5%] after:-top-[34%] after:p-[20px] after:scale-0 hover:after:scale-[1];
  }
}

@layer components {
  .btn-orange {
    @apply text-white  xl:inline-grid px-4 py-2  xl:py-4 bg-[#FEA366] text-xl   xl:w-60  rounded-full xl:text-2xl;
  }
}
@layer components {
  .heading-primary {
    @apply text-xl lg:text-[33px]  font-semibold pt-3 lg:leading-tight;
  }
}
@layer components {
  .btn-blue {
    @apply bg-[#167EE0];
  }
}
@layer components {
  .heading-secondary {
    @apply text-xl xl:text-[25px] leading-none font-semibold pt-3 lg:leading-tight;
  }
}
@layer components {
  .heading-blue {
    @apply text-[#167EE0];
  }
}
@layer components {
  .words-gray {
    @apply text-gray-600;
  }
}
@layer components {
  .card-width {
    @apply relative w-[90%] mx-auto;
  }
}
@layer components {
  .long-card {
    @apply relative w-[100%] mx-auto;
  }
}
